<%- include ('../partials/header') %> 
<%- include ('../partials/navbar') %>

<br>

<div class="container" style="padding: 50px; background-color: seashell;" >
  <div class = "row">
    <div class="col-12 col-xl-6" id="carousel-box">
      
        <div id="AutoCarousel" class="carousel slide" data-bs-ride="carousel" style="max-height: 419px;">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
              <img src="./img/shopping-2.jpg" 
              class="d-block w-100" 
              alt="Woman online shopping with products" 
              height="419px" 
              width="300px">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <img src="./img/shopping-1.jpg" 
              class="d-block w-100" 
              alt="Online shopping" 
              height="419px" 
              width="500px">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <img src="./img/online-sales.jpg" 
              class="d-block w-100" 
              alt="Miniature shopping cart in front of laptop" 
              height="419px" 
              width="639px">
            </div>
          </div>
      
        </div>
    </div>

    <div class="col-12 col-xl-6" id="description-box">
      <h2>Our Service</h2>
      <p>
        Are you sick and tired of missing out on your favorite items and collectibles because
         you missed that amazing sale? Worry no more! You may keep tabs on the cost of things 
         you're interested in purchasing with the aid of Casa Catalog to make sure you know 
         you've gotten the best deal. All you have to do is decide on a sale price for an item,
         then sit back and wait for the sweet savings! We'll notify you when those items' prices
         drop! Because Casa Catalog was created by bargain hunters for other bargain hunters, 
         our website has helped users save time and money. 
      </p>
    </div>

  </div>

</div>


<div class="container" style="padding: 50px">
  <section>
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h3 class="mb-4" style="font-family: 'Celebri Sans';">Testimonials</h3>
        <p class="mb-4 pb-2 mb-md-5 pb-md-0">
          While we at Casa Catalog can tell you about the ease of our price tracking functionality, 
          you shouldn't have to take just our word for it! Here are the words of some proud Casa Catalog users!
        </p>
      </div>
    </div>

    <div class="row text-center" style="padding-top: 20px; background-color: seashell;">

      <div class="col-md-4 mb-5 mb-md-0">
        <div class="d-flex justify-content-center mb-4">
          <img src="./img/testimonial1.webp"
            class="rounded-circle shadow-1-strong" 
            width="150" 
            height="150" 
            alt="Personal headshot"
            />
        </div>
        <h5 class="mb-3" style="font-family: 'Celebri Sans';">Maria Smith</h5>
        <h6 class="text-primary mb-3">Toy Collector</h6>
        <p class="px-xl-3" style="font-size: 19px; font-style: italic;">
          "I love shopping on eBay, but it can be overwhelming to keep track of all the items 
          I'm interested in. Casa Catalog has made my life so much easier by allowing me to track 
          all my favorite items in one place. Thank you for creating such an amazing service!"
        </p>
      </div>

      <div class="col-md-4 mb-5 mb-md-0" >
        <div class="d-flex justify-content-center mb-4">
          <img src="./img/testimonial2.webp"
            class="rounded-circle shadow-1-strong" 
            width="150" 
            height="150" 
            alt="Personal headshot"
            />
        </div>
        <h5 class="mb-3">Lisa Cudrow</h5>
        <h6 class="text-primary mb-3">Card Collector</h6>
        <p class="px-xl-3" style="font-size: 19px; font-style: italic;">
          "Casa Catalog is accurate, reliable, and has saved me a lot of money. The ability to 
          set up alerts for price drops is a game-changer. I highly recommend this website 
          to anyone who wants to save time and money when shopping on eBay."
        </p>
      </div>

      <div class="col-md-4 mb-0">
        <div class="d-flex justify-content-center mb-4">
          <img src="./img/testimonial3.webp"
            class="rounded-circle shadow-1-strong" 
            width="150" 
            height="150" 
            alt="Personal headshot"
            />
        </div>
        <h5 class="mb-3">Peter Samson</h5>
        <h6 class="text-primary mb-3">Retro Game Collector</h6>
        <p class="px-xl-3" style="font-size: 19px; font-style: italic;">
          "I'm always looking for ways to save money when shopping online, and Casa Catalog 
          has been a game-changer for me. It's easy to use, and the alerts for price drops have saved 
          me a ton of money. Since using this service, I've doubled the size of my collection."
        </p>
      </div>

    </div>

  </section>
</div>
<!-- End of Page -->

<style>
  
  p {
    text-align: center;
    font-size: 16pt;
    color: rgb(68, 68, 68);
    font-family: 'Celebri Sans';
  }

  h2 {
    text-align: center;
    font-size: 30pt;
    color: black;
    font-family: 'Celebri Sans';
  }

  h3 {
    font-family: 'Celebri Sans';
  }

  h5 {
    font-family: 'Celebri Sans';
    font-size: 22pt;
  }

  h6 {
    font-family: 'Celebri Sans';
  }


</style>

<%- include ('../partials/footer') %>