<%- include ('../partials/header') %> 
<%- include ('../partials/navbar') %>

<br>
<br>

<div class="container" style="padding: 0px;">
  
  <div id="AutoCarousel" class="carousel slide" data-bs-ride="carousel" style="max-height: 419px;">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="5000">
        <img src="./img/shopping-2.jpg" 
        class="d-block w-100" 
        alt="Woman online shopping with products" 
        height="419px" 
        width="639px">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="./img/shopping-1.jpg" 
        class="d-block w-100" 
        alt="Online shopping" 
        height="419px" 
        width="639px">
      </div>
      <div class="carousel-item" data-bs-interval="5000">
        <img src="./img/online-sales.jpg" 
        class="d-block w-100" 
        alt="Miniature shopping cart in front of laptop" 
        height="419px" 
        width="639px">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#AutoCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#AutoCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</div>

<br>

<div class="container" style="background-color: rgb(116, 116, 116);">
  <p style="text-align: center; font-size: 14pt; color: rgb(252, 247, 242);">
    With the help of Casa Catalog, you can move on from the days of manually checking product listings
     trying to find that great bargain. Now, Casa Catalog manages that for you! You can search for products
     through Casa Catalog and add them to your item watchlist, so you can be notified when there is a steal of a deal!
     <br>
     <br>
    Casa Catalog makes bargain hunting easy, as it's built for bargain hunters by bargain hunters.
  </p>
</div>


<%- include ('../partials/footer') %>