<%- include ('../partials/header') %> 
<%- include ('../partials/navbar') %>

<br>

<div class="container" style="padding: 50px; background-color: seashell;" >
  <div class = "row">
    <div class="col-12 col-xl-6" id="carousel-box">
      
        <div id="AutoCarousel" class="carousel slide" data-bs-ride="carousel" style="max-height: 419px;">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
              <img src="./img/shopping-2.jpg" 
              class="d-block w-100" 
              alt="Woman online shopping with products" 
              height="419px" 
              width="300px">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <img src="./img/shopping-1.jpg" 
              class="d-block w-100" 
              alt="Online shopping" 
              height="419px" 
              width="500px">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
              <img src="./img/online-sales.jpg" 
              class="d-block w-100" 
              alt="Miniature shopping cart in front of laptop" 
              height="419px" 
              width="639px">
            </div>
          </div>
      
        </div>
    </div>

    <div class="col-12 col-xl-6" id="description-box">
      <h2>Our Service</h2>
      <p>
        Are you sick and tired of missing out on your favorite items and collectibles because
         you missed that amazing sale? Worry no more! You may keep tabs on the cost of things 
         you're interested in purchasing with the aid of Casa Catalog to make sure you know 
         you've gotten the best deal. All you have to do is decide on a sale price for an item,
         then sit back and wait for the sweet savings! We'll notify you when those items' prices
         drop! Because Casa Catalog was created by bargain hunters for other bargain hunters, 
         our website has helped users save time and money. 
      </p>
    </div>

  </div>


</div>

<style>
  
  p {
    text-align: center;
    font-size: 16pt;
    color: rgb(68, 68, 68);
    font-family: 'Celebri Sans';
  }

  h2 {
    text-align: center;
    font-size: 30pt;
    color: black;
    font-family: 'Celebri Sans';
  }

</style>

<%- include ('../partials/footer') %>