/* -----NAVBAR PAGE----- */
#nav-title{
    /* text color of title name */
    color: #07BEB8;
}

#nav-home,#nav-report,#nav-notif,#nav-login{

    /* text color of navbar links */
    color: #057672;
}

/* -----LOGIN PAGE----- */
#form_login{
    
    /* username and login box size */
    max-width: 380px;
    
    /* center username and login */
    display: block;
    margin: auto;
}

#login_logo{
    /* center image */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}


/* -----REGISTER PAGE---- */

/* image alignment */
#box_register1{
    float: left;
    margin-top: 90px;
    margin-left: 300px;
}

/* register input alignment boxes */
#box_register2{
    float: right;
    margin-right: 200px;
    margin-top: 150px;
    height: 600px;
    width: 500px; 
}


