<% if (locals.message) { %>
    <div
        style="text-align: center; width: 50%; margin-left: auto; margin-right: auto;"
        class="alert alert-<%- locals.error ? 'danger' : 'success' %>"
        role="alert">
        <%= message %>
    </div>
<% } %>