<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" style="background-color: rgb(255, 198, 157);">
  <a
    href="/home"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none"
  >
    <svg class="bi me-2" width="40" height="32">
      <img src="img/Casa Catalog Logo.png" 
      alt="Casa Catalog Logo" 
      class="bi me-2" 
      width="40px" 
      height="32px">  
    </svg>
    <span class="fs-4" id="nav-title">&nbsp;Casa Catalog</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="/home" 
      class="nav-link link-light" 
      id="nav-home"
      >
        Home
      </a>
    </li>
    <li class="nav-item">
      <a href="/discover" 
      class="nav-link link-light" 
      id="nav-discover"
      >
        Discover
      </a>
    </li>
    <li class="nav-item">
      <a href="/watchlist" 
      class="nav-link link-light" 
      id="nav-watch"
      >
        Watchlist
      </a>
    </li>
    <li class="nav-item">
      <a href="/notifications" 
      class="nav-link link-light" 
      id="nav-notif"
      >
        Notifications
      </a>
    </li>
    <li class="nav-item" style="padding-right: 8px;">
      <a href="/register" 
      class="btn btn-primary" 
      id="nav-register"
      >
        Register
      </a>
    </li>
    <li class="nav-item" style="padding-right: 8px;">
      <a href="/login" 
      class="btn btn-success" 
      id="nav-login"
      >
        Login
      </a>
    </li>
    <li class="nav-item" style="padding-right: 8px;">
      <a href="/logout" 
      class="btn btn-danger" 
      id="nav-logout"
      >
        Logout
      </a>
    </li>
  </ul>

</header>
