<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a
      href="#"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <svg class="bi me-2" width="40" height="32"></svg>
      <span class="fs-4" id="nav-title">Casa Catalog</span>
    </a>
  
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="#" class="nav-link" id="nav-home">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" id="nav-report">Report</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" id="nav-nod">Notifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/login'> Login </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href='/register'> Register </a>
      </li>
    </ul>
  </header>
  