<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a
      href="/home"
      class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
    >
      <svg class="bi me-2" width="40" height="32"></svg>
      <span class="fs-4" id="nav-title">Casa Catalog</span>
    </a>
  
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a href="/home" class="nav-link" id="nav-home">Home</a>
      </li>
      <li class="nav-item">
        <a href="/discover" class="nav-link" id="nav-discover">Discover</a>
      </li>
      <li class="nav-item">
        <a href="/watchlist" class="nav-link" id="nav-watch">Watchlist</a>
      </li>
      <li class="nav-item">
        <a href="/notifications" class="nav-link" id="nav-notif">Notifications</a>
      </li>
      <li class="nav-item">
        <a href="/register" class="nav-link" id="nav-register">Register</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" id="nav-login">Login</a>
      </li>
      <li class="nav-item">
        <a href="/logout" class="nav-link" id="nav-logout">Logout</a>
      </li>
    </ul>
  </header>
  